<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../public/images/about/1.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2016 - 2021</h4>
                        <h4 class="subheading">Por que? e como?</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Interessados por livros e literatura, iniciamos uma longa caminhada em criar um sistema unico de se relacionar com as palavras, que é além de uma rede social, é uma rede de emoções,
                        onde não compartilharemos rascunhos ou fotos, e sim emoções!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>