<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Bem Vindo ao AppBook!</div>
        <% const colecao = ['a','b','c'] %>
        <% colecao.forEach(function(item){ %>
        <div class="masthead-heading text-uppercase"> <%= item %> </div>
        <% }) %>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
    </div>
</header>
